body {
    background-color: rgb(15, 33, 61);
}

header h1 {
    color: rgba(118, 192, 158, 0.452);
    text-align: center;
    font-size: 40px;
}

header nav ul li {
    display: inline-block;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-top: 25px;
}

a {
    color: skyblue;
    text-decoration: none;
    font-size: 20px;
}

img {
    width: 350px;
    height: 300px;
}

footer {
    background-color: snow;
}

footer p {
    font-size: 30px;
    color: teal;
    text-align: center;
}